.outerCol {
  outline: solid red;
  width: 60%;
  clear: left;
  flex: none;
}

.innerCol {
  max-width: 100%;
  min-width: 0px;
  padding-left: 30px !important;
  align-items: flex-start;
}

.reviewsPanel {
  margin: 0;
  display: block
}
