.tabsContainer {
  margin-bottom: 18px;
}

.tabsList {
  display: flex;
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.tabsList button {
  white-space: normal;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-align: left;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin: 0 12px;
  position: relative;
  font-size: 16px;
  text-transform: none;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
}

.tabsList button:first-of-type {
  margin-left: 0;
  /* border-bottom-color: black;
  border-bottom-width: 1px; */
}

.tabsList button:nth-of-type(2) {
  margin-right: 0;
}

/* Why isn't this working? */

.tabsList button:nth-of-type(1)::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -2px;
  width: 0;
  border-bottom: 2px solid black;
  left: 50%;
}


.tabsList span {
  background: #EAEAEA;
  margin-left: 12px !important;
  border-radius: 15px;
  color: inherit;
  display: inline-block;
  word-break: break-word;
  line-height: 1;
  font-size: 13px;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 9px;
  min-width: 25px;
}

.sortFeature {
  display: flex;
  justify-content: flex-end;
}

.sortMenu {
  display: inline-flex;
  position: relative;
  color: #222;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.sortMenu button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  border-radius: 24px;
  position: relative;
  vertical-align: middle;
  z-index: 10;
  left: 7px;
  color: #222222;
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding: 9px 15px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: normal;
  word-spacing: normal;
  transition: opacity 0.3s cubic-bezier(0.345, 0.115, 0.135, 1.42);
}

.sortMenu button:hover {
  transition: opacity 0.3s cubic-bezier(0.345, 0.115, 0.135, 1.42);
  background: rgba(34, 34, 34, 0.15);

}

.triggerLabel {
  position: relative;
  flex-grow: 1;
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

.menuCaret {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

,.menuCaret svg {
  display: block;

}
